--upgrade pip
python-dotenv
langchain
langchain_community
langchain-groq
pypdf
sentence_transformers
PyPDF2
langchain_huggingface
langchain_openai
langchain_core
faiss-cpu
langchain_ollama
streamlit
groq
